{{#if success_msg}}
  <div class="alert alert-success col-md-6 mb-2 offset-md-3">
    {{success_msg}}
  </div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger col-md-6 mb-2 offset-md-3">
    {{error_msg}}
  </div>
{{/if}}