<nav class="navbar navbar-expand-sm navbar-dark bg-primary pr-5">
  <a class="navbar-brand" href="/">VidJot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">О приложении</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {{#if user}}
      <li class="dropdown ml-auto">
        <a href="#" class="nav-link dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Видео идеи
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <a href="/ideas" class="dropdown-item">Идеи</a>
          <a href="/ideas/add" class="dropdown-item">Добавить идею</a>
        </div>
      </li>
       <li class="nav-item">
          <a href="/users/logout" class="nav-link">Выйти</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a href="/users/login" class="nav-link">Вход</a>
        </li>
        <li class="nav-item">
          <a href="/users/register" class="nav-link">Регистрация</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>