.video-idea {
    position: relative;
}

.edit-btn, .delete-btn {
    position: absolute;
    top: 0;
}

.delete-btn {
    right: 0;
}

.delete-btn i:hover {
    color: var(--danger);
}

.edit-btn {
    right: 2em;
}

.edit-btn i:hover {
    color: var(--info);
}